* {
	padding: 0;
	margin: 0;
	border: 0;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	body {
		font-family: "Raleway", sans-serif;
		font-size: 14px;
		color: #fff;
		margin: 0;
		padding: 0;
	}
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: inherit;
}

body {
	margin: 0;
	padding: 0;
	font-weight: 400;
}
.wrapper1 {
	max-width: 100%;
	height: 100%;
	overflow: hidden;
}
/*HEADER===================*/
.header {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1000;
	width: 100%;
	height: 100px;
	background-color: #509135;
	border-bottom: 3px solid #048524;
}
.header.fixed {
	position: fixed;
	background-color: 509135;
	height: auto;
	border-bottom: 3px solid #048524;
}
.header.fixed .header__inner {
	padding: 25px 5px 20px;
	border-bottom: 0;
}
.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	
}
.header__inner {
	display: flex;
	justify-content: space-between;
	padding: 25px 5px;
	align-items: center;
}
.logo {
	display: block;
	margin-top: 2px;
}
.logo img {
	width: 150px;
	height: 60px;
}
.logo a {
	color: #fff;
	transition: color 0.2s ease 0.2s;
}
a:hover {
	color: #000;
}
.nav {
	display: flex;
	font-size: 16px;
	font-weight: 600;
}
.nav__link {
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	margin-left: 50px;
	position: relative;
	transition: color 0.2s ease 0.2s;
}



.header__info-tel {
	color: #fff;
	align-items: center;
}

.tel {
	display: inline-block;
	padding-top: 5px;
	padding-left: 10px;
	font-size: 16px;
	font-weight: 600;
}



/*İNTRO==========================*/

.intro {

	display: flex;
	flex-direction: column;
	justify-content: center;
}

.intro__foto {
max-width:100%;
height:110vh;

}
.intro__foto img {
	width: 100%;
height:100%;
}
.intro__title {
	font-family: "Open Sans", sans-serif;
	font-size: 65px;
	color: #111;
	font-weight: 700;
	text-transform: uppercase;
}
.intro__inner {
	max-width: 870px;
	margin: 0 auto;
	text-align: center;
	position: absolute;
	top: 250px;
	left: 225px;
	z-index: 20;
}
.intro__subtitle {
	font-size: 22px;
	color: #111;
	line-height: 33px;
	font-weight: 600;
	margin-top: 15px;
	margin-bottom: 60px;
}

.btn {
	display: inline-block;
	vertical-align: top;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 13px;
	color: #111;
	font-weight: 800;
	padding: 14px 40px 14px 40px;
	border-radius: 5px;
	font-family: inherit;
	border: 0;
	cursor: pointer;
	transition: background 0.2s linear, color 0.2s linear;
	margin-left: 20px;
	margin-bottom: 30px;
}
.btn--red {
	background-color: #509135;
}
.btn--red:hover {
	background-color: #349f06;
	color: #fff;
}
/*FEATURES==============*/
.features {
	margin: 50px 0px 45px 0px;
	display: flex;
	flex-wrap: wrap;
}

.feature__title {
	padding: 50px 0 0 0;
	text-align: center;
	font-size: 40px;
	line-height: 50px;
	letter-spacing: 2px;
	font-weight: 700;
	color: #000;
}
.features__item {
	width: 33.333%;
	text-align: center;
	padding: 0px 40px 0px 40px;
	margin-bottom: 55px;
}
.features__icon {
	margin-bottom: 20px;
	
}

.features__title {
	font-size: 14px;
	font-weight: 700;
	color: #000;
	font-family: "Raleway";
	margin-bottom: 20px;
	text-transform: uppercase;
}
.featur__text {
	max-width: 1000px;
	line-height: 21px;
	font-size: 18px;
	color: #000;
	margin-top: 20px;
	margin: 30px auto 50px;
	text-align: center;
}
.feature__subtitle {
	font-weight: 700;
	color: #509135;
}
.features__text {
	line-height: 21px;
	font-size: 14px;
	color: #000;
}
.featur__item {
	text-align: center;
}

/*WORKS======================*/

.work__title {
	padding: 0px 0 50px 0;
	text-align: center;
	font-size: 40px;
	line-height: 50px;
	letter-spacing: 2px;
	font-weight: 700;
	color: #000;
}

.works__row {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin: 0 -15px 0 -15px;
}
.works__item {
	margin: 10px 0;
	padding: 0px 15px 0px 15px;
	flex: 0 0 20%;
	text-align: center;
}

.work__photo {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 20px;
	width: 270px;
	height: 290px;
	position: relative;
	cursor: pointer;
}
.work__photo img {
	width: 270px;
	height: 290px;
	object-fit: contain;
}
.work__photo:after {
	content: "";
	display: block;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 1;
	background-color: rgba(147, 147, 147, 0.1);
	position: absolute;
}

.works__title {
	color: #000;
	font-size: 20px;
	line-height: 30px;
	font-weight: 500;
	margin-bottom: 15px;
	text-align: center;
}
.works__fiat {
	color: #000;
	font-size: 20px;
	line-height: 30px;
	font-weight: 500;
	margin-bottom: 15px;
	text-align: center;
}

@media (max-width: 970px) {
	
	.intro__foto {
		max-width:100%;
		height:650px;
		
		}
		.intro__foto img {
			width: 100%;
		height:100%;
		}
		.intro__inner{
			margin-right: 60px;;
		}
	}
@media (max-width: 870px) {
	.intro__foto {
		margin-top: -30px;
		max-width:100%;
		height:450px;
		
		}
		.intro__foto img {
			width: 100%;
		height:100%;
		}
	.works__item {
		flex: 0 0 25%;
		margin-bottom: 100px;
	}
	.work__photo {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 20px;
		width: 200px;
		height: 200px;
		position: relative;
		cursor: pointer;
	}
	.work__photo img {
		width: 180px;
		height: 200px;
		object-fit: contain;
	}
	.works__title {
		margin-top: -10px;
		font-size: 20px;
		text-align: center;
	}
	.works__fiat {
		margin-top: -20px;
		font-size: 20px;
		text-align: center;
	}
}
@media (max-width: 770px) {
	.intro__inner{
		margin-top: -80px;
	}
	}
	@media (max-width: 660px) {
		.intro__inner{
			margin-top: -100px;
		}
		.intro__foto {
			margin-top: -30px;
			max-width:100%;
			height:350px;
			
			}
		}
/*TEAM=================*/
.test__title {
	padding: 30px 0 30px 0;
	text-align: center;
	font-size: 40px;
	line-height: 50px;
	letter-spacing: 2px;
	font-weight: 700;
	color: #000;
}
@media (max-width: 570px) {
	
	.test__title {
		font-size: 30px;
		padding: 10px 0 10px 0;
	}
	.tests__title {
		font-size: 20px;
		padding: 10px 0 10px 0;
	}
}
/*TEST=======================*/
.test {
	background-color: #509135;
	overflow: hidden;
	padding-bottom: 50px;
	padding-top: 40px;
}

.tests__title {
	text-align: center;
	font-size: 30px;
	line-height: 40px;
	letter-spacing: 2px;
	font-weight: 500;
	padding: 20px 0;
}
.test__row {
	display: flex;
	flex-wrap: wrap;
}
.test__items {
	flex: 1 1 50%;
	padding: 0 20px;
}
.test__item {
	display: flex;
}
.test__textsup {
	display: inline-block;
	font-size: 18px;
	line-height: 25px;
}
.textsub {
	font-size: 20px;
	color: rgb(20, 19, 19);
	padding-right: 10px;
}


.abouts {
	padding-top: 50px;
	background-color: #509135;
}
.abouts__title {
	text-align: center;
	font-size: 25px;
	line-height: 30px;
	letter-spacing: 1px;
	padding: 20px 0;
}
.about__row {
	display: flex;
	flex-wrap: wrap;
	padding-bottom: 30px;
}
.about__item {
	flex: 0 0 50%;
	padding: 0 25px;
}
.about__title {
	font-size: 18px;
	line-height: 35px;
	color: #000;
	font-weight: 500;
}
.about__text {
	color: #fff;
	display: inline-block;
	padding-left: 7px;
}
@media (max-width: 570px) {
	.logo img {
		width: 120px;
		height: 40px;
	}
	.abouts__title {
		max-width: 400px;
		line-height: 30px;
		margin: 0 auto;
		margin-top: -40px;
	}
	.header__info-tel img {
		width: 32px;
		height: 32px;
	}
	.header.fixed {
		height: 70px;
	}

	.about__item {
		flex: 0 0 100%;
		padding: 0 25px;
		text-align: center;
	}
	.about__title {
		font-size: 15px;
	}
	.about__text {
		font-size: 14px;
		line-height: 14px;
	}
}


/*FOOTER=======================*/
.footer {
	padding: 20px 0px 20px 0px;
	background-color: #509135;
}
.footer__inner {
	display: flex;
	flex-wrap: wrap;
}
.footer__block {
	width: 33.333%;
	text-align: center;
}
.footer__title {
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 700;
	color: #000;
	margin-bottom: 10px;
}
.footer__text {
	color: white;
	font-size: 14px;
	line-height: 22px;
	font-weight: 400;
	font-family: "Raleway", sans-serif;
	font-style: normal;
}
.footer__text p {
	margin: 0;
}
.footer__social {
	display: flex;
	justify-content: center;
}
.footer__link {
	margin-top: 10px;
	border: 2px solid #fff;
	padding: 8px 8px;
	margin-left: 10px;
	display: flex;
	border-radius: 5px;
	width: 40px;
	height: 40px;
	transition: all 0.5s ease;
}
.footer__link:hover {
	transform: scale(1.2);
}
.contact {
	display: flex;
	justify-content: center;
}
.contact1 {
	display: flex;
	justify-content: center;
}

.item__photo1 {
	margin-right: 10px;
}
.item__photo1 img {
	height: 25px;
}
.item__info a {
	font-size: 15px;
	color: #fff;
	font-weight: 600;
}
.burger {
	display: none;
	background: none;
	border: 0;
	cursor: pointer;
	padding: 9px 2px;
}
.burger__item {
	display: block;
	width: 30px;
	height: 3px;
	background-color: #fff;
	position: relative;
}
.burger__item:before,
.burger__item:after {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	z-index: 1;
	background-color: #fff;
}
.burger__item:before {
	top: -8px;
}
.burger__item:after {
	bottom: -8px;
}
/*MEDİA=======================*/

@media (max-width: 1300px) {
	.intro__title {
		font-size: 40px;
	}
	.tel {
		display: inline-block;
	}
}
@media (max-width: 1075px) {
	.social-section {
		display: none;
	}
	
	.intro__inner {
		left: 130px;
	}
	.social-section {
		right: 10px;
		top: 200px;
	}
}
@media (max-width: 950px) {
	.nav {
		display: none;
		flex-direction: column;
		position: absolute;
		top: 100%;
		right: 0;
		text-align: center;
		width: 100%;
		background-color:#509135;
	}
	.nav.show {
		display: flex;
	}
	.nav__link {
		padding: 9px 20px;
	}
	.burger {
		display: block;
		padding-right: 20px;
	}
	.features__item {
		width: 50%;
	}
	.team__item {
		width: 49.7%;
		text-align: center;
	}
	.team__photo {
		margin-left: auto;
		margin-right: auto;
	}
	.team__social {
		justify-content: center;
	}
	.test__photo {
		width: 100%;
		right: -15px;
		margin-bottom: 40px;
	}
	.test__img {
		min-width: 100%;
	}
	.test__content {
		width: 100%;
		padding-left: 0;
	}
	.test__autor {
		margin-bottom: 40px;
	}
}
@media (max-width: 870px) {
	.intro__inner {
		left: 120px;
	}
	.tel {
		display: inline-block;
	}
	.intro {
		height: auto;
		padding: 130px 0px 30px 0px;
	}
	.intro__title {
		font-size: 30px;
	}
	.intro__subtitle {
		font-size: 16px;
		margin-bottom: 30px;
	}
	.features {
		margin: 40px 0;
	}
	.features__item {
		width: 100%;
		padding: 0px 0px 0px 0px;
	}
	.works {
		margin: 40px 0;
	}
	.works__item {
		width: 100%;
		height: 250px;
	}
	.team {
		margin: 60px 0 30px 0;
	}
	.team__item {
		width: 100%;
	}
	.test__text {
		font-size: 25px;
	}
	.btn--long {
		min-width: 250px;
	}

	.footer {
		padding: 30px 0;
	}
	.footer__inner {
		padding: 20px 0 0 0;
	}
	.footer__block {
		padding-left: 0;
		padding-right: 0;
		width: 100%;
		margin-bottom: 30px;
	}
	.footer__block:last-child {
		margin-bottom: 0;
	}
}
@media (max-width: 740px) {
	.intro__inner {
		left: 80px;
	}
}
@media (max-width: 670px) {
	.intro__inner {
		max-width: 500px;
		left: 80px;
	}
	.intro__title {
		font-size: 25px;
	}
}
@media (max-width: 570px) {
	.intro__inner {
		max-width: 500px;
		left: 40px;
	}
	.featur__text {
		font-size: 15px;
	}
	.intro__title {
		font-size: 20px;
		line-height: 25px;
	}
	.intro__subtitle {
		font-size: 15px;
		line-height: 20px;
	}
	.btn {
		padding: 10px 20px 10px 20px;
		font-size: 10px;
		margin-left: 5px;
		font-weight: 600;
	}
}
@media (max-width: 480px) {
	.intro__inner {
		max-width: 300px;
		left: 100px;
	}
	.intro__title {
		font-size: 20px;
		line-height: 25px;
	}
}

@media (max-width: 415px) {
	.test__photo {
		right: -120px;
	}
	.intro__inner {
		width: 250px;
		left: 70px;
	}
}
@media (max-width: 400px) {
	.intro__inner {
		width: 250px;
		left: 70px;
	}
}
@media (max-width: 380px) {
	.intro__inner {
		width: 200px;
		left: 80px;
	}
	.intro__title {
		font-size: 18px;
		line-height: 20px;
	}
}
@media (max-width: 380px) {
	.intro__inner {
		width: 200px;
		left: 80px;
	}
}
@media (max-width: 360px) {
	.intro__inner {
		width: 200px;
		left: 80px;
	}
}
/*---------------POPUP------------------*/

/*-------------------POPAP START----------------*/
.popup {
	position: fixed;
	padding: 10px 0 10px 0;
	width: 100%;
	height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
	background-color: #fff;
	top: 0px;
	left: 0;
	opacity: 0;
	visibility: hidden;
	z-index: 1500;
	transition: all 0.8s ease 0s;
}

.popup__close img {
	content: "";
	right: 32px;
	top: 32px;
	display: block;
	z-index: 1;
	position: absolute;
	transition: all 0.5s ease 0s;
}
@media (max-width: 585px) {
	.popup__close img {
		top: 10px;
		right: 10px;
	}
}
.popup__close img:hover {
	transform: rotate(150deg);
}

.popup.open {
	opacity: 1;
	visibility: visible;
}

.popup.open .popup__content {
	transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
	opacity: 1;
}

.popup__body {
	min-height: 100%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	width: 100%;
	margin-top: -10px;
}

.popup__content {
	max-width: 100%;
	margin: 0 auto;
	transition: all 0.8s ease 0s;
	opacity: 0;
	transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
}
@media (max-width: 425px) {
	.popup__content {
		padding: 5px;
	}
}
.popup__title {
	font-size: 30px;
	line-height: 40px;
	letter-spacing: 1px;
	font-weight: 500;
	color: #000;
	margin-bottom: 50px;
	text-align: center;
}
@media (max-width: 585px) {
	.popup__title {
		font-size: 30px;
		line-height: 30px;
		margin-top: 30px;
	}
}
.popup__text {
	font-size: 18px;
	line-height: 20px;
	color: #000;
	font-weight: 400;
	padding-bottom: 15px;
	letter-spacing: 0.5px;
}
.popup__row {
	max-width: 1200px;
	padding: 0 10px;
	display: flex;
	text-align: center;
	align-items: center;
	flex-wrap: wrap;
	margin-bottom: 30px;
}

.popup__items {
	flex: 0 0 50%;
}
@media (max-width: 575px) {
	.popup__row {
		margin-top: -20px;
	}
	.popup__items {
		flex: 0 0 100%;
		margin-top: 30px;
	}
}
.popup__img {
	width: 400px;
	height: 500px;
	margin-right: 50px;
	display: block;
	margin: 0 auto;
}

.popup__img img {
	max-width: 400px;
	height: 500px;
	object-fit: contain;
}
.popup__top {
	font-size: 30px;
	line-height: 40px;
	font-weight: 700;
	color: #000;
	margin-bottom: 20px;
}
.popup__ref {
	text-align: left;
	font-size: 20px;
	line-height: 30px;
	font-weight: 600;
	color: #000;
	margin-bottom: 10px;
}
.popup__ref1 {
	font-size: 20px;
	line-height: 30px;
	font-weight: 500;
	color: #000;
	margin-bottom: 10px;
}

.prod {
	font-size: 16px;
	line-height: 25px;
	font-weight: 400;
	color: #111;
	margin-bottom: 10px;
}
@media (max-width: 380px) {
	.tel {
		display: none;
	}
}
